.columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

ul {
  margin: 1vh 1vw;
  border-radius: 10%;
  list-style: none;
}
ul li {
  font-size: larger;
  padding: 10px 10px;
}
ul li:hover {
  cursor: pointer;
}

.column {
  flex-basis: 30%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#Backlog {
  font-weight: bolder;
  font-size: xx-large;
  color: #c8ca3e;
}
button {
  background-color: #ffffff;
  color: #000000;
}
button:hover {
  background-color: #50555b;
  cursor: pointer;
}

@media (max-width: 768px) {
  .columns {
    flex-basis: 45%;
  }
}
